# This is Git's per-user configuration file.
[user]
    name = George Perez
    email = george.perez.marrero@gmail.com
[core]
    excludesfile = /Users/George/.gitignore
    trustctime = false
    precomposeunicode = false
[commit]
    gpgsign = true
[gpg]
    program = gpg
[alias]
    unstage = reset HEAD --
    last = log -1 HEAD
    st = status
[color]
    ui = auto
[difftool]
    tool = opendiff
[mergetool]
    tool = opendiff
[credential]
	helper = osxkeychain
