# This is Git's per-user configuration file.
[user]
	name = George Perez Marrero
	email = george@perez-marrero.com
[core]
    excludesfile = /Users/gpm/.gitignore
    trustctime = false
    precomposeunicode = false
[alias]
    unstage = reset HEAD --
    last = log -1 HEAD
    st = status
[color]
    ui = auto
[difftool]
    tool = opendiff
[mergetool]
    tool = opendiff
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[init]
	defaultBranch = main
