# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = George Perez
	email = george.perez.marrero@gmail.com
	signingkey = 623A1F97
[core]
	excludesfile = /Users/George/.gitignore_global
	editor = subl -n -w
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
	st = status
[color]
	ui = true
[merge]
[difftool]
[mergetool]
[diff]
    tool = opendiff
[commit]
	gpgsign = true
[merge]
	tool = opendiff
